<div class="panel panel-default">
	<div class="panel-heading bg-white">
    	<h3>Reverse Transaksi</h3> 
        <br> 
    </div>
    <div class="panel-body">
    	<form class="form-horizontal ng-pristine ng-valid" role="form">
            <div class="form-group">
              	<label class="col-sm-2 control-label">Batch</label>
  	           	<input type="text" name="notrn" size="10px"   />
            </div>
           
		    <div class="form-group">
              	<label class="col-sm-2 control-label">No.Transaksi</label>
  	           	<input type="text" name="notrn" size="10px"   />
            </div>
            <div class="form-group">
            	<div class="col-sm-offset-2 col-sm-10">
                	<button type="submit" class="btn btn-default" name="confirmasi">Konfirmasi</button>
	          	</div>
            </div>
          </form>
      </div>
    </div>
</div>